<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Menu</a></li>
          <li><a href="../index.html">Main</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Disaster Resource Allocation
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div id="ready-room" class="text-center" style="display:none">
              <div id="not_ready" align = "center">
                For any queries or comments, please contact Chloe at suhither@gmail.com, csu@fas.harvard.edu, or huangyus@andrew.cmu.edu.
              </div>
          </div>
          </div>
        </div>
      </div>
      
    </div>
	
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- <script src="js/bootstrap.js"></script> -->

    <table id="tabgame" v-if="position" cellpadding="10" cellspacing="0" style="width: 1150px;" align="center">
      <tr id="game-container" class=border align="center">
          <td>
              <div style = "text-align: center">

              </div>
              <div align="center">
                  <h3>
                      <span id="block-map">
               
                      </span>
                      <span id="instructionsToggle" style="border-color: gray; border-width: 2px; padding: 6px; border-style: solid;cursor:pointer;">Show commands</span>
                  </h3>
                  <h3><span id="result"></span></h3>
                  <form name="frm">
                      <input type="hidden" id="uid" name="uid" value={{data}} />
                      <input type="hidden" id="session" name="session" value={{session}} />
                      <input type="hidden" id="group" name="group" value={{group}} />
                  </form>
              </div>
              
              <form id="minimap" action="/fullmap/" method="POST">
                  
                  <div id="sketch-holder">
                      <script src="{{ url_for('static', path='js/fullgame_wr.js?v=')}}"+DateTime.Now.Ticks></script>
                      <script src="{{ url_for('static', path='js/cell.js?v=')}}"+DateTime.Now.Ticks></script>
                  </div>

                  <div align="center">
                      <h3><span id="total"></span></h3>
                      <button name="finish" formaction="/completion" id="finish-button" type="submit" class="button">Finish</button>
                  </div>
              </form>
          </td>
      </tr>
    </table>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
