<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chloe">
    <title>Role Selection</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
  
    <h2>Choose Your Role:</h2>

    <button onclick="redirectToPage('shelter')">Shelter</button>
    <button onclick="redirectToPage('warehouse')">Warehouse</button>
    <button onclick="redirectToPage('station')">Station</button>

    <script>
        function redirectToPage(role) {
            // Redirect based on the selected role
            if (role === 'shelter') {
                window.location.href = 'shelter.html';
            } else if (role === 'warehouse') {
                window.location.href = 'warehouse.html';
            } else if (role === 'station') {
                window.location.href = 'station.html';
            }
        }
    </script>

  </body>
</html>
