<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chloe">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="{{ url_for('static', path='../static/js/p5.min.js')}}"></script>
    <script src="{{ url_for('static', path='../static/js/p5.dom.min.js')}}"></script>
    <script src="{{ url_for('static', path='../static/js/p5.sound.min.js')}}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/style.css')}}"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Menu</a></li>
          <li><a href="../index.html">Main</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Disaster Resource Allocation
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <table id="tabgame" v-if="position" cellpadding="10" cellspacing="0" style="width: 1150px;" align="center">
              <div id="qualtrics-container">
                  <!-- <iframe id="frame-qualtrics" height="400px" width="400px">
                  </iframe> -->
              </div>
              <tr id="game-container" class=border align="center">
                  <td>
                      <div style = "text-align: center">
                          <h2 id="playtime"> Congradulations, you have completed the mission in <span id="day"></span>days!</h2>
                          <div id="day1">Below is </div>
                          <h3>
                            <span id="episode"></span> |
                            <span id="goal">Points: 0</span> |
                            <span id="food">Total food consumption: 0</span> |
                            <span id="drink">Total drink : 0</span> |
                            <span id="staff">Total staff : 0</span> |
                            
                        </h3>
                        At the conclusion of play, we invite you to share your observations about:
• How was the shared commitment different in this round?
• Did you have a different sense of urgency? How did this affect your participation?
• Give some examples of team members identifying their opinions and providing observations to support them.
• Were requests perceived as demands or invitations? Give some examples of clear and explicit requests.
• Were there dissenting members? How was this handled?
• What is the overall mood of the group? What factors contributed towards the mood?
                      </div>
                      <div align="center">
                          <span id="instructionsToggle" style="border-color: gray; border-width: 2px; padding: 6px; border-style: solid;cursor:pointer;">Instructions</span>
                          
                          <h3><span id="result"></span></h3>
                          <form name="frm">
                              <input type="hidden" id="uid" name="uid" value={{data}} />
                              <input type="hidden" id="session" name="session" value={{session}} />
                              <input type="hidden" id="group" name="group" value={{group}} />
                          </form>
                      </div>
                      
                      <form id="minimap" action="/fullmap/" method="POST">
                          <input type="hidden" id="uid" name="uid" value={{data}} />
                          <input type="hidden" id="session" name="session" value={{session}} />
                          <input type="hidden" id="group" name="group" value={{group}} />


                          <script>
                              $('#next-button').click(function() {
                                  var id = $('#uid').val();
                                  var sessionId = Number($('#session').val())+1;
                                  $('#session').val(sessionId);
                                  var formAction = $('#next-button').attr('formaction');
                                  $('#next-button').attr('formaction', formAction + '?uid=' + id);
                              });
                              $( "#finish-button").click(function() {
                                  var id = $('#uid').val();
                                  var formAction = $('#finish-button').attr('formaction');
                                  $('#finish-button').attr('formaction', formAction);
                              }); 
                          </script>
                      </form>
                  </td>
              </tr>
            </table>

            <div id="ready-room" class="text-center">
              <div id="not_ready" align = "center">
                  <p id="startMsg">When you are ready to start, please click the "Ready" button. </p> 
                  <script type="module" src="../static/js/env.js"></script>
                  <script type="module" src="../static/js/objects.js"></script>
                  <script>
                    const userRole = "Warehouse";
                  </script>
                  <button id="startButton">Start Game</button>
        
              </div>

              <div id="userInputs" class="hidden">        
                <input type="number" class="userInput" data-input="send-food-shelter" placeholder="Send food amount to Shelter...">
                <input type="number" class="userInput" data-input="send-drink-shelter" placeholder="Send drink amount to Shelter...">
                <input type="number" class="userInput" data-input="send-food-station" placeholder="Send food amount to Station...">
                <input type="number" class="userInput" data-input="send-drink-station" placeholder="Send drink amount to Station...">
                <input type="number" class="userInput" data-input="request-staff" placeholder="Request staff amount...">
                <button id="nextButton">Next</button>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
      
    </div>
	
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- <script src="js/bootstrap.js"></script> -->

    

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
